<%- include('./partials/header.ejs') %>
        <header>
            <div class="order-header content-width">
                <div class='date-head'>9 July 2020</div>
            </div>            
        </header>
        <main class='content-width'>
            <ul class='order-ul'>
                <li>
                    <div class="item-image">
                        <img src="/photos/milk.jpg" alt="" width='50'>
                    </div>
                    <div class="item-detail">Full Cream Milk</div>
                    <div class="add-remove">
                        <span class="remove">-</span>
                        <span class="item-val">0</span>
                        <span class="add">+</span>
                    </div>
                </li>
                <li>
                    <div class="item-image">
                        <img src="/photos/milk.jpg" alt="" width='50'>
                    </div>
                    <div class="item-detail">Full Cream Milk</div>
                    <div class="add-remove">
                        <span class="remove">-</span>
                        <span class="item-val">0</span>
                        <span class="add">+</span>
                    </div>
                </li>
                <li>
                    <div class="item-image">
                        <img src="/photos/milk.jpg" alt="" width='50'>
                    </div>
                    <div class="item-detail">Full Cream Milk</div>
                    <div class="add-remove">
                        <span class="remove">-</span>
                        <span class="item-val">0</span>
                        <span class="add">+</span>
                    </div>
                </li>
                <li>
                    <div class="item-image">
                        <img src="/photos/milk.jpg" alt="" width='50'>
                    </div>
                    <div class="item-detail">Full Cream Milk</div>
                    <div class="add-remove">
                        <span class="remove">-</span>
                        <span class="item-val">0</span>
                        <span class="add">+</span>
                    </div>
                </li>
            </ul>
        </main>
        <footer class='content-width'>
            <div class="order-footer">
                <div class="o-left">
                    <div class="total-amount">Total Amount:</div>
                    <div class="total-value">500</div>
                </div>
                <div class="o-right">
                    <button class="order-update">
                        Update
                    </button>
                </div>
            </div>
        </footer>
        <%- include('./partials/footer.ejs') %>  